/*
 * You're looking at the styles for the popup.
 *
 * It's really simple, could have done a lot more, but this at least gets the dropdown,
 * in it's basic form, on any theme.
 *
 * You could modify onwards from here.
 *
 * Note, if the popup doesn't have any items in it, it shouldn't show.
 */

.search-form {

	/* We need to make the search form relative, so the #ajax-results div we make in JavaScript can float around inside.s */
	position: relative;
}

#ajax-results {

	/*
	 * This is our actual popup.
	 *
	 * It's floats around inside the search form, and has some mediocre dropdown styles added.
	 * If we do this right, it should show up right below the input.
	 */
	position: absolute;
  background-color: white;
  width: 95%;
  list-style-type: none;
}

#ajax-results li {

	/* Add borders to our elements */
	border-left: 1px solid;
	border-right: 1px solid;

	/* Give our post list items some space to breath */
	padding: 5px;
}

#ajax-results li:last-child {

	/* Put the border of the popup on the last item in the list */
	border-bottom: 1px solid;
}
